openapi: "3.1.0"
info:
  title: "33m2 REST API (역설계 사이드카)"
  version: "0.1.0-reverse-engineered"
  description: "33m2 Retrofit 인터페이스에서 역추출한 180 메서드 계약. 성공 응답은 {code:'SCSS_001', data:<schema>} 엔벨로프로 감싸짐 (여기 schema는 data 부분). 에러는 HTTP 400 + {code, message:{type,content}}. 박스형 타입(Integer/Long/Boolean/Double)은 nullable=true로 표기(추론). 출처: _shared/captures/33m2.api-full.json + dto.json + req-dto.json. 정본은 33m2/api-contract.md."
servers:
  - url: "https://web.33m2.co.kr"
    description: 관찰된 호스트 (실제 API 게이트웨이는 별도 추정)
tags:
  - name: accounts
  - name: address
  - name: app
  - name: campaigns
  - name: cert
  - name: chat
  - name: contents
  - name: contracts
  - name: devices
  - name: guest
  - name: host
  - name: hosts
  - name: inbox
  - name: map
  - name: notification-settings
  - name: rooms
  - name: settlements
  - name: support
  - name: surveys
  - name: test
  - name: user
  - name: v2
paths:
  /v1/accounts/bank-codes:
    get:
      tags:
        - accounts
      operationId: get_v1_accounts_bank_codes
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/BankItem"
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/accounts/verification:
    post:
      tags:
        - accounts
      operationId: post_v1_accounts_verification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BankInfoCheckRequest"
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BankInfoCheckResult"
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/address/details:
    get:
      tags:
        - address
      operationId: get_v1_address_details
      parameters:
        - name: address
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddressDetail"
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/address/search:
    get:
      tags:
        - address
      operationId: get_v1_address_search
      parameters:
        - name: keyword
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddressSearchResult"
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/campaigns/articles:
    get:
      tags:
        - campaigns
      operationId: get_v1_campaigns_articles
      parameters:
        - name: categoryId
          in: query
          required: false
          schema:
            type:
              - integer
              - "null"
            format: int32
        - name: onlyGuestArticle
          in: query
          required: true
          schema:
            type: boolean
        - name: onlyHostArticle
          in: query
          required: true
          schema:
            type: boolean
        - name: page
          in: query
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArticleResult"
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/campaigns/articles/editor-pick/{loginType}":
    get:
      tags:
        - campaigns
      operationId: get_v1_campaigns_articles_editor_pick_loginType
      parameters:
        - name: loginType
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/EditorPick"
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/campaigns/events:
    get:
      tags:
        - campaigns
      operationId: get_v1_campaigns_events
      parameters:
        - name: onlyGuestEvent
          in: query
          required: true
          schema:
            type: boolean
        - name: onlyHostEvent
          in: query
          required: true
          schema:
            type: boolean
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventListResult"
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/campaigns/partnerships:
    get:
      tags:
        - campaigns
      operationId: get_v1_campaigns_partnerships
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PartnershipItem"
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/campaigns/{id}":
    get:
      tags:
        - campaigns
      operationId: get_v1_campaigns_id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CampaignDetail"
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/cert/email/send:
    post:
      tags:
        - cert
      operationId: post_v1_cert_email_send
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmailVerifyCodeRequest"
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmailVerifyCodeResult"
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/cert/email/verify:
    post:
      tags:
        - cert
      operationId: post_v1_cert_email_verify
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmailVerifyRequest"
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmailVerifyResult"
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/cert/mok/resend:
    post:
      tags:
        - cert
      operationId: post_v1_cert_mok_resend
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MobileCertNumResendRequest"
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MobileCertNumResendResult"
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/cert/mok/send:
    post:
      tags:
        - cert
      operationId: post_v1_cert_mok_send
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MobileCertNumRequest"
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MobileCertNumResult"
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/cert/mok/terms:
    get:
      tags:
        - cert
      operationId: get_v1_cert_mok_terms
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MobileCertTermsResult"
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/cert/mok/verify:
    post:
      tags:
        - cert
      operationId: post_v1_cert_mok_verify
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MobileCertNumVerifyRequest"
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CertNumResult"
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/cert/passport/ocr:
    post:
      tags:
        - cert
      operationId: post_v1_cert_passport_ocr
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PassportOcrRequest"
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PassportOcrResult"
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/cert/phone-number:
    get:
      tags:
        - cert
      operationId: get_v1_cert_phone_number
      parameters:
        - name: certNum
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SimpleStringResult"
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/chat/messages:
    post:
      tags:
        - chat
      operationId: post_v1_chat_messages
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChatMessageSendRequest"
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChatSendResult"
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/chat/scheduled:
    post:
      tags:
        - chat
      operationId: post_v1_chat_scheduled
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetScheduledChatMessageRequest"
      responses:
        "204":
          description: No Content
        "4XX":
          $ref: "#/components/responses/Error"
    get:
      tags:
        - chat
      operationId: get_v1_chat_scheduled
      parameters:
        - name: page
          in: query
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChatScheduledListResult"
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/chat/scheduled/connectable-rooms:
    get:
      tags:
        - chat
      operationId: get_v1_chat_scheduled_connectable_rooms
      parameters:
        - name: keyword
          in: query
          required: true
          schema:
            type: string
        - name: id
          in: query
          required: false
          schema:
            type:
              - integer
              - "null"
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ConnectedRoom"
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/chat/scheduled/{id}":
    delete:
      tags:
        - chat
      operationId: delete_v1_chat_scheduled_id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "204":
          description: No Content
        "4XX":
          $ref: "#/components/responses/Error"
    put:
      tags:
        - chat
      operationId: put_v1_chat_scheduled_id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetScheduledChatMessageRequest"
      responses:
        "204":
          description: No Content
        "4XX":
          $ref: "#/components/responses/Error"
    get:
      tags:
        - chat
      operationId: get_v1_chat_scheduled_id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChatScheduledItemDetail"
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/chat/{cid}":
    get:
      tags:
        - chat
      operationId: get_v1_chat_cid
      parameters:
        - name: cid
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChattingRoomInfo"
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/chat/{cid}/actions":
    get:
      tags:
        - chat
      operationId: get_v1_chat_cid_actions
      parameters:
        - name: cid
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChattingRoomActions"
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/chat/{cid}/contract-masters":
    get:
      tags:
        - chat
      operationId: get_v1_chat_cid_contract_masters
      parameters:
        - name: cid
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChattingExtendContractListResult"
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/chat/{cid}/contract-period":
    put:
      tags:
        - chat
      operationId: put_v1_chat_cid_contract_period
      parameters:
        - name: cid
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StartEndDateRequest"
      responses:
        "204":
          description: No Content
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/chat/{cid}/messages/search/hint":
    get:
      tags:
        - chat
      operationId: get_v1_chat_cid_messages_search_hint
      parameters:
        - name: cid
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: keyword
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChattingSearchHintResult"
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/chat/{cid}/messages/{msg_idx}/translation":
    post:
      tags:
        - chat
      operationId: post_v1_chat_cid_messages_msg_idx_translation
      parameters:
        - name: cid
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChatTranslateRequest"
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChattingTranslationResult"
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/chat/{cid}/read":
    post:
      tags:
        - chat
      operationId: post_v1_chat_cid_read
      parameters:
        - name: cid
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "204":
          description: No Content
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/contents/guest/home:
    get:
      tags:
        - contents
      operationId: get_v1_contents_guest_home
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GuestHomeDataResult"
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/contents/host/home:
    get:
      tags:
        - contents
      operationId: get_v1_contents_host_home
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HostHomeDataResult"
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/contracts/recent-reviews:
    get:
      tags:
        - contracts
      operationId: get_v1_contracts_recent_reviews
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/RecentReviewItem"
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/contracts/simple-review-templates:
    get:
      tags:
        - contracts
      operationId: get_v1_contracts_simple_review_templates
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SimpleReviewData"
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/devices/app-installations:
    post:
      tags:
        - devices
      operationId: post_v1_devices_app_installations
      responses:
        "204":
          description: No Content
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/guest/contracts/estimate:
    get:
      tags:
        - guest
      operationId: get_v1_guest_contracts_estimate
      parameters:
        - name: rid
          in: query
          required: true
          schema:
            type: integer
            format: int32
        - name: isExtend
          in: query
          required: true
          schema:
            type: boolean
        - name: startDate
          in: query
          required: true
          schema:
            type: string
        - name: endDate
          in: query
          required: true
          schema:
            type: string
        - name: initialContractId
          in: query
          required: false
          schema:
            type:
              - integer
              - "null"
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GuestContractEstimateResult"
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/guest/contracts/last-active:
    get:
      tags:
        - guest
      operationId: get_v1_guest_contracts_last_active
      parameters:
        - name: rid
          in: query
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoomContractMoreInfo"
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/guest/contracts/masters:
    get:
      tags:
        - guest
      operationId: get_v1_guest_contracts_masters
      parameters:
        - name: contractMasterStatus
          in: query
          required: true
          schema:
            type: string
        - name: sortBy
          in: query
          required: true
          schema:
            type: string
        - name: roomNameOrAddress
          in: query
          required: true
          schema:
            type: string
        - name: page
          in: query
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GuestContractListResult"
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/guest/contracts/masters/{initialContractId}":
    get:
      tags:
        - guest
      operationId: get_v1_guest_contracts_masters_initialContractId
      parameters:
        - name: initialContractId
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GuestContractItem"
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/guest/contracts/masters/{initialContractId}/schedule-changes":
    post:
      tags:
        - guest
      operationId: post_v1_guest_contracts_masters_initialContractId_schedule_changes
      parameters:
        - name: initialContractId
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChangeScheduleRequest"
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChangeScheduleRequestResult"
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/guest/contracts/masters/{initialContractId}/schedule-changes/availability":
    get:
      tags:
        - guest
      operationId: get_v1_guest_contracts_masters_initialContractId_schedule_changes_availability
      parameters:
        - name: initialContractId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: requestedStartDate
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChangeScheduleAvailableResult"
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/guest/contracts/need-checkin:
    get:
      tags:
        - guest
      operationId: get_v1_guest_contracts_need_checkin
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GuestEnterConfirmNeedContractInfo"
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/guest/contracts/need-review:
    get:
      tags:
        - guest
      operationId: get_v1_guest_contracts_need_review
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TenantReviewManageItem"
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/guest/contracts/notifications:
    get:
      tags:
        - guest
      operationId: get_v1_guest_contracts_notifications
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/GuestContractNotificationItem"
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/guest/contracts/request:
    post:
      tags:
        - guest
      operationId: post_v1_guest_contracts_request
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GuestContractRequest"
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GuestContractRequestResult"
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/guest/contracts/reviews:
    get:
      tags:
        - guest
      operationId: get_v1_guest_contracts_reviews
      parameters:
        - name: filter
          in: query
          required: true
          schema:
            type: string
        - name: page
          in: query
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TenantReviewManageResult"
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/guest/contracts/reviews/{contractId}/popup/read":
    post:
      tags:
        - guest
      operationId: post_v1_guest_contracts_reviews_contractId_popup_read
      parameters:
        - name: contractId
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "204":
          description: No Content
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/guest/contracts/reviews/{initialContractId}":
    post:
      tags:
        - guest
      operationId: post_v1_guest_contracts_reviews_initialContractId
      parameters:
        - name: initialContractId
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ScoreReviewUpdateRequest"
      responses:
        "204":
          description: No Content
        "4XX":
          $ref: "#/components/responses/Error"
    get:
      tags:
        - guest
      operationId: get_v1_guest_contracts_reviews_initialContractId
      parameters:
        - name: initialContractId
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TenantReviewManageItem"
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/guest/contracts/schedule-changes/result:
    get:
      tags:
        - guest
      operationId: get_v1_guest_contracts_schedule_changes_result
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScheduleChangeResult"
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/guest/contracts/schedule-changes/{scheduleId}/cancel":
    post:
      tags:
        - guest
      operationId: post_v1_guest_contracts_schedule_changes_scheduleId_cancel
      parameters:
        - name: scheduleId
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "204":
          description: No Content
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/guest/contracts/schedule-changes/{scheduleId}/result/read":
    post:
      tags:
        - guest
      operationId: post_v1_guest_contracts_schedule_changes_scheduleId_result_read
      parameters:
        - name: scheduleId
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "204":
          description: No Content
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/guest/contracts/{contractId}":
    get:
      tags:
        - guest
      operationId: get_v1_guest_contracts_contractId
      parameters:
        - name: contractId
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GuestContractDetailResult"
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/guest/contracts/{contractId}/cancel":
    post:
      tags:
        - guest
      operationId: post_v1_guest_contracts_contractId_cancel
      parameters:
        - name: contractId
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "204":
          description: No Content
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/guest/contracts/{contractId}/check-in/checklist":
    get:
      tags:
        - guest
      operationId: get_v1_guest_contracts_contractId_check_in_checklist
      parameters:
        - name: contractId
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GuestCheckInInfo"
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/guest/contracts/{contractId}/deposit-return-account":
    put:
      tags:
        - guest
      operationId: put_v1_guest_contracts_contractId_deposit_return_account
      parameters:
        - name: contractId
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DepositReturnAccountRequest"
      responses:
        "204":
          description: No Content
        "4XX":
          $ref: "#/components/responses/Error"
    get:
      tags:
        - guest
      operationId: get_v1_guest_contracts_contractId_deposit_return_account
      parameters:
        - name: contractId
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DepositReturnAccount"
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/guest/contracts/{contractId}/deposit-return-card":
    get:
      tags:
        - guest
      operationId: get_v1_guest_contracts_contractId_deposit_return_card
      parameters:
        - name: contractId
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DepositReturnCard"
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/guest/contracts/{contractId}/receipt-info":
    put:
      tags:
        - guest
      operationId: put_v1_guest_contracts_contractId_receipt_info
      parameters:
        - name: contractId
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReceiptInfoRequest"
      responses:
        "204":
          description: No Content
        "4XX":
          $ref: "#/components/responses/Error"
    get:
      tags:
        - guest
      operationId: get_v1_guest_contracts_contractId_receipt_info
      parameters:
        - name: contractId
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReceiptInfo"
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/guest/contracts/{contractId}/receipt-info/bill-url":
    get:
      tags:
        - guest
      operationId: get_v1_guest_contracts_contractId_receipt_info_bill_url
      parameters:
        - name: contractId
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SimpleStringResult"
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/guest/contracts/{contractId}/refund":
    post:
      tags:
        - guest
      operationId: post_v1_guest_contracts_contractId_refund
      parameters:
        - name: contractId
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContractRefundRequest"
      responses:
        "204":
          description: No Content
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/guest/contracts/{contractId}/refund-account":
    get:
      tags:
        - guest
      operationId: get_v1_guest_contracts_contractId_refund_account
      parameters:
        - name: contractId
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RefundAccountInfo"
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/guest/contracts/{contractId}/refund-card":
    get:
      tags:
        - guest
      operationId: get_v1_guest_contracts_contractId_refund_card
      parameters:
        - name: contractId
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RefundCardInfo"
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/guest/contracts/{contractId}/refund-reasons":
    get:
      tags:
        - guest
      operationId: get_v1_guest_contracts_contractId_refund_reasons
      parameters:
        - name: contractId
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CancelReason"
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/guest/contracts/{contractId}/refund/checklist":
    get:
      tags:
        - guest
      operationId: get_v1_guest_contracts_contractId_refund_checklist
      parameters:
        - name: contractId
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RefundCheckListResult"
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/guest/contracts/{initialContractId}/check-in":
    post:
      tags:
        - guest
      operationId: post_v1_guest_contracts_initialContractId_check_in
      parameters:
        - name: initialContractId
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GuestCheckInRequest"
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GuestContractItem"
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/guest/contracts/{initialContractId}/check-out":
    post:
      tags:
        - guest
      operationId: post_v1_guest_contracts_initialContractId_check_out
      parameters:
        - name: initialContractId
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GuestCheckOutRequest"
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GuestContractItem"
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/guest/contracts/{initialContractId}/check-out/checklist":
    get:
      tags:
        - guest
      operationId: get_v1_guest_contracts_initialContractId_check_out_checklist
      parameters:
        - name: initialContractId
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GuestCheckOutCheckListResult"
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/guest/contracts/{initialContractId}/simple-review":
    post:
      tags:
        - guest
      operationId: post_v1_guest_contracts_initialContractId_simple_review
      parameters:
        - name: initialContractId
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SimpleReviewAddRequest"
      responses:
        "204":
          description: No Content
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/host/contract/reviews:
    get:
      tags:
        - host
      operationId: get_v1_host_contract_reviews
      parameters:
        - name: rid
          in: query
          required: false
          schema:
            type:
              - integer
              - "null"
            format: int32
        - name: replyStatus
          in: query
          required: true
          schema:
            type: string
        - name: fromDate
          in: query
          required: true
          schema:
            type: string
        - name: toDate
          in: query
          required: true
          schema:
            type: string
        - name: sortBy
          in: query
          required: true
          schema:
            type: string
        - name: page
          in: query
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LandLordReviewManageResult"
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/host/contract/reviews/summary:
    get:
      tags:
        - host
      operationId: get_v1_host_contract_reviews_summary
      parameters:
        - name: rid
          in: query
          required: false
          schema:
            type:
              - integer
              - "null"
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LandlordReviewSummary"
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/host/contract/reviews/{contractId}":
    get:
      tags:
        - host
      operationId: get_v1_host_contract_reviews_contractId
      parameters:
        - name: contractId
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LandLordReviewDetail"
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/host/contract/reviews/{contractId}/replies":
    post:
      tags:
        - host
      operationId: post_v1_host_contract_reviews_contractId_replies
      parameters:
        - name: contractId
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SimpleStringRequest"
      responses:
        "204":
          description: No Content
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/host/contracts/masters/actions/count:
    get:
      tags:
        - host
      operationId: get_v1_host_contracts_masters_actions_count
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>} (대체 응답 타입 관찰됨: HostActionContractInfoResult)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HostContractActionCountResult"
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/host/contracts/masters/status/count:
    get:
      tags:
        - host
      operationId: get_v1_host_contracts_masters_status_count
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HostContractMasterStatusCount"
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/host/contracts/masters/{initialContractId}":
    get:
      tags:
        - host
      operationId: get_v1_host_contracts_masters_initialContractId
      parameters:
        - name: initialContractId
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HostContractItem"
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/host/contracts/masters/{initialContractId}/care-link":
    get:
      tags:
        - host
      operationId: get_v1_host_contracts_masters_initialContractId_care_link
      parameters:
        - name: initialContractId
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SimpleStringResult"
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/host/contracts/schedule-changes/{scheduleId}":
    get:
      tags:
        - host
      operationId: get_v1_host_contracts_schedule_changes_scheduleId
      parameters:
        - name: scheduleId
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChangeScheduleRequestData"
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/host/contracts/schedule-changes/{scheduleId}/approval":
    post:
      tags:
        - host
      operationId: post_v1_host_contracts_schedule_changes_scheduleId_approval
      parameters:
        - name: scheduleId
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "204":
          description: No Content
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/host/contracts/schedule-changes/{scheduleId}/rejection":
    post:
      tags:
        - host
      operationId: post_v1_host_contracts_schedule_changes_scheduleId_rejection
      parameters:
        - name: scheduleId
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RejectionScheduleChangeRequest"
      responses:
        "204":
          description: No Content
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/host/contracts/{contractId}":
    get:
      tags:
        - host
      operationId: get_v1_host_contracts_contractId
      parameters:
        - name: contractId
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HostContractDetailResult"
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/host/contracts/{contractId}/approval":
    post:
      tags:
        - host
      operationId: post_v1_host_contracts_contractId_approval
      parameters:
        - name: contractId
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NewAirBridgeEventDataResult"
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/host/contracts/{contractId}/calculated-refund-info":
    get:
      tags:
        - host
      operationId: get_v1_host_contracts_contractId_calculated_refund_info
      parameters:
        - name: contractId
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HostContractCancelRefundInfo"
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/host/contracts/{contractId}/rejection":
    post:
      tags:
        - host
      operationId: post_v1_host_contracts_contractId_rejection
      parameters:
        - name: contractId
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReasonRequest"
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NewAirBridgeEventDataResult"
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/host/contracts/{initialContractId}/confirm-checkout":
    post:
      tags:
        - host
      operationId: post_v1_host_contracts_initialContractId_confirm_checkout
      parameters:
        - name: initialContractId
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HostContractItem"
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/host/contracts/{initialContractId}/hold-checkout":
    post:
      tags:
        - host
      operationId: post_v1_host_contracts_initialContractId_hold_checkout
      parameters:
        - name: initialContractId
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ArrayReasonRequest"
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HostContractItem"
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/host/rooms:
    get:
      tags:
        - host
      operationId: get_v1_host_rooms
      parameters:
        - name: keyword
          in: query
          required: true
          schema:
            type: string
        - name: statusFilter
          in: query
          required: true
          schema:
            type: string
        - name: page
          in: query
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HostRoomListData"
        "4XX":
          $ref: "#/components/responses/Error"
    post:
      tags:
        - host
      operationId: post_v1_host_rooms
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HouseSpaceInfo"
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NewRoomRegistResult"
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/host/rooms/address/validation:
    get:
      tags:
        - host
      operationId: get_v1_host_rooms_address_validation
      parameters:
        - name: addrStreet
          in: query
          required: true
          schema:
            type: string
      responses:
        "204":
          description: No Content
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/host/rooms/survey-requirements:
    get:
      tags:
        - host
      operationId: get_v1_host_rooms_survey_requirements
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SimpleBooleanResult"
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/host/rooms/{rid}":
    put:
      tags:
        - host
      operationId: put_v1_host_rooms_rid
      parameters:
        - name: rid
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RoomInfoOverView"
      responses:
        "204":
          description: No Content
        "4XX":
          $ref: "#/components/responses/Error"
    get:
      tags:
        - host
      operationId: get_v1_host_rooms_rid
      parameters:
        - name: rid
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoomInfoOverView"
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/host/rooms/{rid}/contract-policy":
    get:
      tags:
        - host
      operationId: get_v1_host_rooms_rid_contract_policy
      parameters:
        - name: rid
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HouseContractPolicyInfo"
        "4XX":
          $ref: "#/components/responses/Error"
    put:
      tags:
        - host
      operationId: put_v1_host_rooms_rid_contract_policy
      parameters:
        - name: rid
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HouseContractPolicyInfo"
      responses:
        "204":
          description: No Content
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/host/rooms/{rid}/deletion":
    post:
      tags:
        - host
      operationId: post_v1_host_rooms_rid_deletion
      parameters:
        - name: rid
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReasonRequest"
      responses:
        "204":
          description: No Content
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/host/rooms/{rid}/description":
    put:
      tags:
        - host
      operationId: put_v1_host_rooms_rid_description
      parameters:
        - name: rid
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HouseDescriptionInfo"
      responses:
        "204":
          description: No Content
        "4XX":
          $ref: "#/components/responses/Error"
    get:
      tags:
        - host
      operationId: get_v1_host_rooms_rid_description
      parameters:
        - name: rid
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HouseDescriptionInfo"
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/host/rooms/{rid}/fee-info":
    put:
      tags:
        - host
      operationId: put_v1_host_rooms_rid_fee_info
      parameters:
        - name: rid
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HousePriceInfo"
      responses:
        "204":
          description: No Content
        "4XX":
          $ref: "#/components/responses/Error"
    get:
      tags:
        - host
      operationId: get_v1_host_rooms_rid_fee_info
      parameters:
        - name: rid
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HousePriceInfo"
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/host/rooms/{rid}/options":
    put:
      tags:
        - host
      operationId: put_v1_host_rooms_rid_options
      parameters:
        - name: rid
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HouseOptionInfo"
      responses:
        "204":
          description: No Content
        "4XX":
          $ref: "#/components/responses/Error"
    get:
      tags:
        - host
      operationId: get_v1_host_rooms_rid_options
      parameters:
        - name: rid
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HouseOptionInfo"
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/host/rooms/{rid}/preview":
    get:
      tags:
        - host
      operationId: get_v1_host_rooms_rid_preview
      parameters:
        - name: rid
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoomDetailInfoResult"
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/host/rooms/{rid}/progress":
    get:
      tags:
        - host
      operationId: get_v1_host_rooms_rid_progress
      parameters:
        - name: rid
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoomInfoProgress"
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/host/rooms/{rid}/review-request":
    post:
      tags:
        - host
      operationId: post_v1_host_rooms_rid_review_request
      parameters:
        - name: rid
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "204":
          description: No Content
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/host/rooms/{rid}/schedules":
    get:
      tags:
        - host
      operationId: get_v1_host_rooms_rid_schedules
      parameters:
        - name: rid
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoomScheduleData"
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/host/rooms/{rid}/schedules/unavailable":
    post:
      tags:
        - host
      operationId: post_v1_host_rooms_rid_schedules_unavailable
      parameters:
        - name: rid
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RoomScheduleRequestData"
      responses:
        "204":
          description: No Content
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/host/rooms/{rid}/space-info":
    get:
      tags:
        - host
      operationId: get_v1_host_rooms_rid_space_info
      parameters:
        - name: rid
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HouseSpaceInfo"
        "4XX":
          $ref: "#/components/responses/Error"
    put:
      tags:
        - host
      operationId: put_v1_host_rooms_rid_space_info
      parameters:
        - name: rid
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HouseSpaceInfo"
      responses:
        "204":
          description: No Content
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/host/rooms/{rid}/visibility":
    put:
      tags:
        - host
      operationId: put_v1_host_rooms_rid_visibility
      parameters:
        - name: rid
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChangeRoomPublishRequest"
      responses:
        "204":
          description: No Content
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/host/rooms/{sourceRid}/clone":
    post:
      tags:
        - host
      operationId: post_v1_host_rooms_sourceRid_clone
      parameters:
        - name: sourceRid
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoomCopyResult"
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/hosts/{hostUid}/profile":
    get:
      tags:
        - hosts
      operationId: get_v1_hosts_hostUid_profile
      parameters:
        - name: hostUid
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoomHostInfo"
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/hosts/{hostUid}/reviews":
    get:
      tags:
        - hosts
      operationId: get_v1_hosts_hostUid_reviews
      parameters:
        - name: hostUid
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: page
          in: query
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LandlordReviewContentsResult"
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/map/rooms:
    get:
      tags:
        - map
      operationId: get_v1_map_rooms
      parameters:
        - name: swLat
          in: query
          required: false
          schema:
            type:
              - number
              - "null"
            format: double
        - name: swLng
          in: query
          required: false
          schema:
            type:
              - number
              - "null"
            format: double
        - name: neLat
          in: query
          required: false
          schema:
            type:
              - number
              - "null"
            format: double
        - name: neLng
          in: query
          required: false
          schema:
            type:
              - number
              - "null"
            format: double
        - name: roomMarkerLat
          in: query
          required: false
          schema:
            type:
              - number
              - "null"
            format: double
        - name: roomMarkerLng
          in: query
          required: false
          schema:
            type:
              - number
              - "null"
            format: double
        - name: zoomLevel
          in: query
          required: false
          schema:
            type:
              - integer
              - "null"
            format: int32
        - name: startDate
          in: query
          required: true
          schema:
            type: string
        - name: endDate
          in: query
          required: true
          schema:
            type: string
        - name: page
          in: query
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MapRoomSearchResult"
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/map/search-keywords:
    get:
      tags:
        - map
      operationId: get_v1_map_search_keywords
      parameters:
        - name: keyword
          in: query
          required: true
          schema:
            type: string
        - name: maxSize
          in: query
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchKeywordResult"
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/rooms:
    get:
      tags:
        - rooms
      operationId: get_v1_rooms
      parameters:
        - name: keyword
          in: query
          required: true
          schema:
            type: string
        - name: startDate
          in: query
          required: true
          schema:
            type: string
        - name: endDate
          in: query
          required: true
          schema:
            type: string
        - name: sortBy
          in: query
          required: true
          schema:
            type: string
        - name: page
          in: query
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoomSearchResult"
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/rooms/favorites:
    get:
      tags:
        - rooms
      operationId: get_v1_rooms_favorites
      parameters:
        - name: page
          in: query
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MyRoomResult"
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/rooms/hosts/{hostUid}":
    get:
      tags:
        - rooms
      operationId: get_v1_rooms_hosts_hostUid
      parameters:
        - name: hostUid
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: page
          in: query
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HostRoomListResult"
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/rooms/recent-views:
    get:
      tags:
        - rooms
      operationId: get_v1_rooms_recent_views
      parameters:
        - name: uuid
          in: query
          required: true
          schema:
            type: string
        - name: page
          in: query
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MyRoomResult"
        "4XX":
          $ref: "#/components/responses/Error"
    delete:
      tags:
        - rooms
      operationId: delete_v1_rooms_recent_views
      parameters:
        - name: uuid
          in: query
          required: true
          schema:
            type: string
        - name: rid
          in: query
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "204":
          description: No Content
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/rooms/recent/view:
    get:
      tags:
        - rooms
      operationId: get_v1_rooms_recent_view
      parameters:
        - name: uuid
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/RoomListItem"
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/rooms/recommend/search-keywords:
    get:
      tags:
        - rooms
      operationId: get_v1_rooms_recommend_search_keywords
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecommendSearchKeywords"
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/rooms/{rid}":
    get:
      tags:
        - rooms
      operationId: get_v1_rooms_rid
      parameters:
        - name: rid
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: uuid
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoomDetailInfoResult"
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/rooms/{rid}/available-weeks":
    get:
      tags:
        - rooms
      operationId: get_v1_rooms_rid_available_weeks
      parameters:
        - name: rid
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: startDate
          in: query
          required: true
          schema:
            type: string
        - name: isExtend
          in: query
          required: true
          schema:
            type: boolean
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoomContractAvailableWeeks"
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/rooms/{rid}/contract-availability":
    get:
      tags:
        - rooms
      operationId: get_v1_rooms_rid_contract_availability
      parameters:
        - name: rid
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: startDate
          in: query
          required: true
          schema:
            type: string
        - name: endDate
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SimpleBooleanResult"
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/rooms/{rid}/contract/{contractId}":
    get:
      tags:
        - rooms
      operationId: get_v1_rooms_rid_contract_contractId
      parameters:
        - name: rid
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: contractId
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoomDetailInfoResult"
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/rooms/{rid}/favorites":
    delete:
      tags:
        - rooms
      operationId: delete_v1_rooms_rid_favorites
      parameters:
        - name: rid
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NewAirBridgeEventDataResult"
        "4XX":
          $ref: "#/components/responses/Error"
    post:
      tags:
        - rooms
      operationId: post_v1_rooms_rid_favorites
      parameters:
        - name: rid
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NewAirBridgeEventDataResult"
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/rooms/{rid}/schedules":
    get:
      tags:
        - rooms
      operationId: get_v1_rooms_rid_schedules
      parameters:
        - name: rid
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: year
          in: query
          required: true
          schema:
            type: integer
            format: int32
        - name: month
          in: query
          required: true
          schema:
            type: integer
            format: int32
        - name: currentInitialContractId
          in: query
          required: false
          schema:
            type:
              - integer
              - "null"
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoomScheduleData"
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/settlements/complete:
    get:
      tags:
        - settlements
      operationId: get_v1_settlements_complete
      parameters:
        - name: onlySummary
          in: query
          required: true
          schema:
            type: boolean
        - name: rid
          in: query
          required: false
          schema:
            type:
              - integer
              - "null"
            format: int32
        - name: fromSettlementDate
          in: query
          required: true
          schema:
            type: string
        - name: toSettlementDate
          in: query
          required: true
          schema:
            type: string
        - name: page
          in: query
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SettlementReadySearchInfoResult"
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/settlements/ready:
    get:
      tags:
        - settlements
      operationId: get_v1_settlements_ready
      parameters:
        - name: onlySummary
          in: query
          required: true
          schema:
            type: boolean
        - name: rid
          in: query
          required: false
          schema:
            type:
              - integer
              - "null"
            format: int32
        - name: page
          in: query
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SettlementReadySearchInfoResult"
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/settlements/rooms:
    get:
      tags:
        - settlements
      operationId: get_v1_settlements_rooms
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/RoomBasicInfo"
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/settlements/{contractId}":
    get:
      tags:
        - settlements
      operationId: get_v1_settlements_contractId
      parameters:
        - name: contractId
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PayoutDetail"
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/support/inquiries:
    get:
      tags:
        - support
      operationId: get_v1_support_inquiries
      parameters:
        - name: page
          in: query
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MyInquiriesData"
        "4XX":
          $ref: "#/components/responses/Error"
    post:
      tags:
        - support
      operationId: post_v1_support_inquiries
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InquiriesRequest"
      responses:
        "204":
          description: No Content
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/support/{loginType}/top-faqs":
    get:
      tags:
        - support
      operationId: get_v1_support_loginType_top_faqs
      parameters:
        - name: loginType
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FaqItemListResult"
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/support/{type}/faq-categories":
    get:
      tags:
        - support
      operationId: get_v1_support_type_faq_categories
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FaqCategoriesResult"
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/support/{type}/faqs":
    get:
      tags:
        - support
      operationId: get_v1_support_type_faqs
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
        - name: category
          in: query
          required: true
          schema:
            type: string
        - name: keyword
          in: query
          required: true
          schema:
            type: string
        - name: page
          in: query
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FaqItemListResult"
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/support/{type}/notices":
    get:
      tags:
        - support
      operationId: get_v1_support_type_notices
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
        - name: page
          in: query
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NoticeListResult"
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/support/{type}/notices/{id}":
    get:
      tags:
        - support
      operationId: get_v1_support_type_notices_id
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NoticeDetailItem"
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/surveys/{type}":
    get:
      tags:
        - surveys
      operationId: get_v1_surveys_type
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SurveyListData"
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/surveys/{type}/submit":
    post:
      tags:
        - surveys
      operationId: post_v1_surveys_type_submit
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SurveyRequest"
      responses:
        "204":
          description: No Content
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/user/email/validation:
    post:
      tags:
        - user
      operationId: post_v1_user_email_validation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CheckEmailValidationRequest"
      responses:
        "204":
          description: No Content
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/user/find-id:
    post:
      tags:
        - user
      operationId: post_v1_user_find_id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FindUserIdRequest"
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FindMemberIdResult"
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/user/host-conversion:
    post:
      tags:
        - user
      operationId: post_v1_user_host_conversion
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChangeToHostRequest"
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RefreshTokenResult"
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/user/host-conversion/validation:
    get:
      tags:
        - user
      operationId: get_v1_user_host_conversion_validation
      responses:
        "204":
          description: No Content
        "4XX":
          $ref: "#/components/responses/Error"
  "/v1/user/join/{joinType}":
    post:
      tags:
        - user
      operationId: post_v1_user_join_joinType
      parameters:
        - name: joinType
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JoinRequest"
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JoinResult"
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/user/login:
    post:
      tags:
        - user
      operationId: post_v1_user_login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginResult"
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/user/logout:
    post:
      tags:
        - user
      operationId: post_v1_user_logout
      responses:
        "204":
          description: No Content
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/user/me:
    get:
      tags:
        - user
      operationId: get_v1_user_me
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserMe"
        "4XX":
          $ref: "#/components/responses/Error"
    delete:
      tags:
        - user
      operationId: delete_v1_user_me
      responses:
        "204":
          description: No Content
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/user/me/cert:
    put:
      tags:
        - user
      operationId: put_v1_user_me_cert
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CertNumUpdateRequest"
      responses:
        "204":
          description: No Content
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/user/me/cert/passport:
    put:
      tags:
        - user
      operationId: put_v1_user_me_cert_passport
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PassPortUpdateRequest"
      responses:
        "204":
          description: No Content
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/user/me/email/send:
    post:
      tags:
        - user
      operationId: post_v1_user_me_email_send
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmailVerifyCodeRequest"
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmailVerifyCodeResult"
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/user/me/email/verify:
    post:
      tags:
        - user
      operationId: post_v1_user_me_email_verify
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmailVerifyRequest"
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RefreshTokenResult"
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/user/me/firebase-token:
    post:
      tags:
        - user
      operationId: post_v1_user_me_firebase_token
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SimpleStringResult"
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/user/me/guest-profile:
    put:
      tags:
        - user
      operationId: put_v1_user_me_guest_profile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GuestProfileUpdateRequest"
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RefreshTokenResult"
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/user/me/host-profile:
    put:
      tags:
        - user
      operationId: put_v1_user_me_host_profile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HostProfileUpdateRequest"
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RefreshTokenResult"
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/user/password-reset:
    post:
      tags:
        - user
      operationId: post_v1_user_password_reset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PasswordResetRequest"
      responses:
        "204":
          description: No Content
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/user/password-reset/email:
    post:
      tags:
        - user
      operationId: post_v1_user_password_reset_email
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PasswordResetEmailRequest"
      responses:
        "204":
          description: No Content
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/user/password-reset/email/send:
    post:
      tags:
        - user
      operationId: post_v1_user_password_reset_email_send
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmailVerifyCodeRequest"
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmailVerifyCodeResult"
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/user/password-reset/email/verify:
    post:
      tags:
        - user
      operationId: post_v1_user_password_reset_email_verify
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmailVerifyRequest"
      responses:
        "200":
          description: "OK — 33m2 성공 엔벨로프 {code:'SCSS_001', data:<schema>}"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmailVerifyResult"
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/user/password-reset/validation:
    post:
      tags:
        - user
      operationId: post_v1_user_password_reset_validation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PasswordResetValidationRequest"
      responses:
        "204":
          description: No Content
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/user/phone-number/validation:
    post:
      tags:
        - user
      operationId: post_v1_user_phone_number_validation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ValidatePhoneNumberRequest"
      responses:
        "204":
          description: No Content
        "4XX":
          $ref: "#/components/responses/Error"
  /v1/user/refresh:
    post:
      tags:
        - user
      operationId: post_v1_user_refresh
      requestBody:
        required: true
[...]
